@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Registration successful!</h1>
<br>
<h2 class="text-danger">Before you can Login, please confirm your email, by clicking on the confirmation link that we emailed you!</h2>
