@{
    ViewData["Title"] = "NotConfirm";
}

<h1 class="text-danger">Email are not confirm!</h1>
<br>
<h2 class="text-danger">please check your confirm email again, by clicking on the confirmation link that we emailed you!</h2>
