@model Account
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/register.css" />
<span class="text-danger">@Html.ValidationSummary()</span>

<div class="center" style="margin-top: 100px; display: grid; place-items: center;" >

    <h1>Sign Up</h1>
    <form method="post" asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="txt_field">
            <input type="email" required name="email" asp-for="Email">
            <span></span>
            <label><i class="fa fa-user"></i> Enter your Email</label>
        </div>

        <div class="txt_field">
            <input type="text" required name="fullname" asp-for="FullName">
            <span></span>
            <label><i class="fa fa-user"></i> Enter your Fullname</label>
        </div>

        <div class="txt_field">
            <input type="password" required name="password" asp-for="Password">
            <span></span>
            <label><i class="fa fa-envelope"></i> Enter your Password</label>
        </div>

        <div class="txt_field">
            <input type="password" required name="ConfirmPassword">
            <span></span>
            <label><i class="fa fa-envelope"></i> Enter your Confirm Password</label>
        </div>

        <div class="">
            <label asp-for="Gender"></label>: 
            <input type="radio" id="" asp-for="Gender" value="Male">Male
            <input type="radio" id="" asp-for="Gender" value="Female">Female
            <input type="radio" id="" value="other" disabled>Other
            <span asp-validation-for="Gender" class="text-danger"></span>
            <br>
        </div>

        <div class="">
            <label> Role: </label> 
            <input type="radio" id="" asp-for="IsTeacher" value="true">Teacher
            <input type="radio" asp-for="IsTeacher" value="false" checked>Student
            <br>
        </div>

        <div class="txt_field">
            <input type="date" name="Birthday" asp-for="Birthday">
            <span></span>
            <label><i class="fa fa-user"></i> Enter your Birthday</label>
        </div>

        <div class="txt_field">
            <textarea rows="4" cols="50" type="text" required name="Address" asp-for="Address"></textarea>
            <span></span>
            <label><i class="fa fa-user"></i> Enter your Address</label>
        </div>

        <input type="submit" value="Register">

        <div class="signup_link" style="cursor: pointer;">
            Already have an account?
            <a asp-controller="Login" asp-action="Login">Sign In</a>
        </div>

    </form>

</div>
