﻿@model Class

@{
    ViewData["Title"] = "Create Class";
    var classNameExist = ViewData["classNameExist"];
}

<h1 class="text-center">Create new class</h1>

<form asp-action="Create" method="POST">
    <div class="form-group row align-items-center justify-content-center mt-3">
        <label class="col-sm-2 pt-2" for="subject">Subject: </label>
        <input class="form-control col-sm-4" type="text" id="subject" name="subject" placeholder="Ex: SWP391" required/>
    </div>
    <div class="form-group row align-items-center justify-content-center">
        <label class="col-sm-2 pt-1" for="student-group">Student Group: </label>
        <input class="form-control col-sm-4" type="text" id="student-group" name="studentGroup" placeholder="Ex: SE1504" required/>
    </div>
    
    @if (classNameExist != null)
    {
        <p class="text-center text-danger mt-3">@classNameExist</p>
    }
    
    <div class="row justify-content-center mt-3">
        <input class="btn col-sm-5 btn-primary" type="submit" value="Create">
    </div>
</form>