﻿@model IQueryable<Class>

@{
    ViewData["Title"] = "Classes";
    var account = ViewData["account"] as Account;
}

@if (account is {IsTeacher: true })
{
    <a class="btn btn-block btn-info mb-3" asp-action="Create">Create Class</a>
}
else
{
    <a class="btn btn-block btn-primary mb-3" asp-controller="Join">Join Class</a>
}

<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
    <th>ID</th>
    <th>Name
    <th class="text-center" colspan="3">Actions</th>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        @if (!item.Status) continue;
        <tr>
            <td>@item.Id.ToString().ToUpper()</td>
            <td>@item.Name</td>
            <td class="text-center">
                <a class="btn btn-primary" asp-controller="Deadline" asp-action="Class" asp-route-id="@item.Id">Deadlines</a>
            </td>
            <td class="text-center">
                <a class="btn btn-info" asp-controller="Member" asp-route-id="@item.Id">Members</a>
            </td>
            @if (account is {IsTeacher: true})
            {
                <td class="text-center">
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
            else
            {
                <td class="text-center">
                    <a class="btn btn-danger" asp-action="Leave" asp-route-id="@item.Id">Leave</a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>