﻿@{
    ViewData["Title"] = "Leave Class";
    var leavingClass = ViewData["leaveClass"] as Class;
    var members = ViewData["members"] as IQueryable<Account>;
}

<h1 class="text-center display-4">Leave Class: @leavingClass?.Name</h1>

<table class="table table-bordered table-hover table-striped">
    <caption class="text-center">Members in class</caption>
    <thead class="thead-dark">
    <th>ID</th>
    <th>Email</th>
    <th>Full Name</th>
    <th>Gender</th>
    <th>Birthday</th>
    <th>Address</th>
    </thead>

    <tbody>
    @foreach (var member in members)
    {
        <tr>
            <td>@member.Id</td>
            <td>@member.Email</td>
            <td>@member.FullName</td>
            <td>@member.Gender</td>
            <td>@member.Birthday</td>
            <td>@member.Address</td>
        </tr>
    }
    </tbody>
</table>

<h3 class="text-danger text-center">Do you really want to leave this class?</h3>

<a asp-action="DeleteConfirmed" asp-route-id="@if (leavingClass != null) {@leavingClass.Id }" class="btn btn-danger btn-block mt-3 mb-3">Leave</a>
<a href="/Class" class="btn btn-primary btn-block">Cancel</a>