﻿@{
    ViewData["Title"] = "Members";
    var foundClass = ViewData["foundClass"] as Class;
    var members = ViewData["members"] as IEnumerable<Account>;
}

<table class="table table-bordered table-hover table-striped">
    <caption class="text-center">Members in @foundClass.Name</caption>
    <thead class="thead-dark">
    <th>ID</th>
    <th>Email</th>
    <th>Full Name</th>
    <th>Gender</th>
    <th>Birthday</th>
    <th>Address</th>
    </thead>

    <tbody>
    @foreach (var member in members)
    {
        <tr class="@(member.IsTeacher ? "text-primary" : "")">
            <td>@member.Id</td>
            <td>@member.Email</td>
            <td>@member.FullName</td>
            <td>@member.Gender</td>
            <td>@member.Birthday</td>
            <td>@member.Address</td>
        </tr>
    }
    </tbody>
</table>