@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary" asp-area="" asp-controller="Register" asp-action="Register">Register</a>

<hr>
<table border="1px solid" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>Fullname</th>
            <th>IsTeacher</th> 
             <th>IsAdmin</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Confirm Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Email</td>
                <td>@obj.Password</td>
                <td>@obj.FullName</td>
                <td>@obj.IsTeacher</td> 
                 <td>@obj.IsAdmin</td>
                <td>@obj.Gender</td>
                <td>@obj.Birthday</td>
                <td>@obj.Address</td>
                <td>@obj.ConfirmEmail</td>
            </tr>
        }
    </tbody>
</table>