@model Account
@{
    ViewData["Title"] = "Login";
    <link rel="stylesheet" href="~/css/login.css" />
}


<div class="center">
    <h1>Welcome Back</h1>
    <p>Enter your credentials to access your account</p>
    <form method="post" asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="txt_field">
            <input type="email" name="email" asp-for="Email" required>
            <span></span>
            <label><i class="fa fa-envelope"></i> Enter your Email</label>
        </div>

        <div class="txt_field">
            <input type="password" name="password" asp-for="Password" required>
            <span></span>
            <label><i class="fa fa-lock"></i> Enter your password</label>
        </div>

        <input type="submit" value="Sign In">

        <div class="signup_link">
            Not a menber?
            <a asp-controller="Register" asp-action="Register">Signup</a>
        </div>

        <div class="forgot">Forgot your password? <a asp-controller="Login" asp-action="SendPasswordResetLink">Get help</a></div>

    </form>

</div>
