@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}


<h1>Reset Your Password</h1>

@if(ViewBag.IsUsed)
{
<span style="font-size: 30px;" class="text-danger">@ViewBag.ResetTokenError</span>
}
else {
<form asp-controller="Login" asp-action="ResetPassword" method="post">

    <input type="hidden" asp-for="Token" />
    <table>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" readonly /></td>
        </tr>
        <tr>
            <td><label asp-for="Password">
                    New Password</label></td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td><label asp-for="ConfirmPassword">
                    Confirm New Password</label></td>
            <td><input asp-for="ConfirmPassword" /></td>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </tr>
        <tr>
            <td><label asp-for="Token">
                    Token</label></td>
            <td><input asp-for="Token" readonly /></td>
            <span asp-validation-for="Token" class="text-danger"></span>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Reset Password" />
            </td>
        </tr>
    </table>

    <div asp-validation-summary="All"></div>

</form>
}
