@{
    ViewData["Title"] = "SendPasswordResetLink";
}

<h1>Reset Your Password</h1>

<span class="text-danger">@ViewBag.Message</span>

<form asp-controller="Login" asp-action="SendPasswordResetLink" method="post">

    <table>
        <tr>
            <td><label >Email :</label></td>
            <td><input name="Email" type="text" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" 
                       value="Reset Password" />
            </td>
        </tr>
    </table>
    <div asp-validation-summary="All"></div>

</form>