﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

  <div style="text-align: center;">
    <h1>Get Start With Your Deadline</h1>
    <p class="lead">Come on sign up!</p>
    <div class="text-center">
      <a class="btn btn-primary btn-lg mr-2" asp-action="Register" asp-controller="Register">Register</a>
      <a class="btn btn-info btn-lg" asp-action="Login" asp-controller="Login">Login</a>
      
    </div>
  </div>

</div>
