@model Deadline
@{
    ViewData["Title"] = "Create";
}
<form class="w-50" method="post" asp-action="Create" style="margin:auto;">

    Title : <input type="text" required class="form-control" name="Title">
    <br>

    Content: <input type="text" required class="form-control" name="Content">
    <br>

    StartDate:
    <input type="Time" required class="form-control" name="StartTime">
    <input type="Date" required class="form-control" name="StartDate">
    <br>

    EndDate:
    <input type="Time" required class="form-control" name="EndTime">
    <input type="Date" required class="form-control" name="EndDate">
    <br>

    <div class="text-center">
        <input type="submit" value="Create" class="btn btn-outline-primary">
        <a asp-controller="Deadline" asp-action="Index" class="btn btn-info">Back to list</a>
    </div>
</form>


@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
}