﻿@{
    ViewData["Title"] = "Join Class";
}

<div class="row justify-content-center align-items-center">
    <div class="col">
        <h1 class="text-center">Join a class</h1>
        <form asp-action="Index" method="POST">
            <div class="form-group row align-items-center justify-content-center mt-3 mb-3">
                <input name="classId" class="form-control col-sm-5" type="text" id="class-id" placeholder="Please enter class ID" required/>
            </div>
            <div class="row justify-content-center">
                <input type="submit" value="Submit" class="btn btn-primary w-25">
            </div>
        </form>
    </div>
</div>