﻿@model IQueryable<Deadline>

@{
    ViewData["Title"] = "Deadline Class";
}

<table class="table table-bordered table-hover table-striped">
    <caption class="text-center">Deadlines for class @ViewData["className"]</caption>
    <thead class="thead-dark">
    <th>ID</th>
    <th>Title</th>
    <th>Content</th>
    <th>StartDate</th>
    <th>EndDate</th>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
        </tr>
    }
    </tbody>
</table>